<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
  <div class="modal-underlay" _="on click trigger closeModal"></div>
  <div class="stack modal-content">
    <h2>Add New Ingredient</h2>
    <div class="row">
      <label for="ingredient-search" class="stack" style="flex:3;">
        Search
        <input
          type="text"
          name="ingredient-search"
          id="ingredient-search"
          placeholder="🔎 ingredient name"
          hx-get="{% url 'meals:ingredient_search' %}"
          hx-trigger="keyup changed delay:500ms"
          hx-target="#results"
        >
      </label>
      <span class="htmx-indicator" style="flex:1;">...</span>
    </div>
    <ul id="results"></ul>
  </div>
</div>