{% extends "_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Meal Plan Builder" %}{% endblock head_title %}

{% block header %}
<meta property="og:title" content="Meal Plan Builder" />
<meta name="description" property="og:description" content="Build a meal plan for optimum nutrition to reach your health and fitness goals">
<meta name="keywords" content="nutrition, fitness, health, weight loss, muscle gain">
{% endblock header %}

{% block content %}
<h1>Meal Plan Builder</h1>

<h2>NAME MEALS</h2>
<h2>MEAL LIST</h2>

{% endblock content %}

<!-- JavaScript -->
{% block javascript %}
{% endblock javascript %}
