{% extends "_base.html" %}
{% load static i18n %}

{% block head_title %}{% trans "Meal Builder" %}{% endblock head_title %}

{% block header %}
<meta property="og:title" content="Meal Builder" />
<meta name="description" property="og:description" content="Compose a meal to be reused in the meal plan builder to meet macros and transform bodies">
<meta name="keywords" content="nutrition, fitness, health, weight loss, muscle gain">
{% endblock header %}

{% block content %}
<h1>Meal Builder</h1>

<h2>Recipe Name</h2>
<h2>Ingredients</h2>
<div class="row">
  <form method="get">
    <input
      id="search"
      type="text"
      name="q"
      placeholder="🔎 search"
      hx-get="{% url 'meals:ingredient_search_local' %}"
      hx-trigger="keyup changed delay:250ms"
      hx-target="#ingredients"
    >
  </form>
  <button
    id="addIngredient"
    class="button"
    hx-get="{% url 'meals:ingredient_search_modal' %}"
    hx-target="body"
    hx-swap="beforeend"
    style="line-height:1;"
  >+ add</button>
</div>

<ul id="ingredients" class="ingredients">
{% for ingredient in ingredients %}
  <li>{{ ingredient }}</li>
{% empty %}
  <li>No ingredients!</li>
{% endfor %}
</ul>

{% endblock content %}

<!-- JavaScript -->
{% block javascript %}
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.7"></script>
<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>
{% endblock javascript %}
