{% extends '_base_wide.html' %}

{% load static i18n %}

{% block head_title %}{% trans book.name %}{% endblock head_title %}

{% block content %}

<div class="cluster">
  <!-- intermediary wrapper -->
  <p>
    <a class="box padding" href="{% url 'products:store' %}">
      < Back to Store
    </a>
    {% if user.is_superuser %}
    <a class="box padding:s-1" href="{% url 'admin:products_book_change' book.id %}">
      Admin
    </a>
    {% endif %}
  </p>
</div>

<div class="product-switcher">
  <div> <!-- intermediary wrapper -->
    <div>
      <div class="frame square">
      {% if book.featured_image %}
        <img src="{{ book.featured_image.url }}" alt="" />
      {% else %}
        <img style="background-color: var(--main-color-dark);">
      {% endif %}
      </div>
    </div>
    <div class="stack">
      <div>
        <h1>{{ book.name }}</h1>
        <div class="cluster">
          <div> <!-- intermediary wrapper -->
            <div class="money">${{ book.price|floatformat }}</div>
            <div class="tag duration">{{ book.duration }} weeks</div>
            <div class="tag frequency">{{ book.frequency }} days/wk</div>
            
            {% if book.status == "pr" %}
              <div class="tag private">PRIVATE</div>
            {% endif %}

            {% if book.status == "dr" %}
              <div class="tag draft">DRAFT</div>
            {% endif %}
              
          </div>
        </div>
      </div>


      <p>{{ book.description }}</p>

      <p>
        
        {% if user.is_authenticated %}
          <button
            class="button box purchase"
            id="submitButton"
            data-product-type="book"
            data-product-slug="{{ book.slug }}">
              Purchase!
          </button>
        {% else %}
          {% comment %} <a class="button box purchase" href="{% url 'account_login' %}?next={{ request.path }}">Purchase!</a> {% endcomment %}
          <a
            class="button box purchase"
            href="{% url 'payments:login_to_purchase' product_slug=book.slug %}">
            Purchase!
          </a>
        {% endif %}
          
      </p>
    </div>
  </div>
</div>

<div class="stack center" style="margin-top: var(--s5);">
  {% autoescape off %} {{ content }} {% endautoescape %}
</div>

{% endblock content %}

<!-- JavaScript -->
{% block javascript %}
<script src="{% static 'js/payments.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock javascript %}
