{% extends '_base.html' %}

{% load static i18n %}

{% block head_title %}{% trans "Store" %}{% endblock head_title %}

{% block header %}
  <meta name="description" property="og:description" content="Get in the best shape of your life with the help of these workouts and fitness educational materials.">
  <meta name="keywords" content="fitness, health, strength, endurance, running, training, biking">
  <meta property="og:title" content="Mastering Fitness" />
  <meta property="og:image" content="{% static 'png/favicon-black.png' %}" />
  <meta property="og:image:alt" content="Mastering Fitness" />
{% endblock header %}

{% block layout %}
  {# Override default layout for functional page #}
  <div class="stack functional-width">
    {% if messages %}
      <div class="center messages">
        <ul>
          {% for message in messages %}
            <li class="box {% if message.tags %}{{ message.tags }}{% endif %}">{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <div class="stack">
      <div>
        <h1>Store</h1>
      </div>

      {% if user.is_superuser %}
        <div>
          <div class="cluster">
            <div>
              <a class="button" href="{% url 'admin:products_book_changelist' %}">Book Admin</a>
              <a class="button" href="{% url 'admin:products_program_changelist' %}">Program Admin</a>
            </div>
          </div>
        </div>
      {% endif %}

      <div class="stack">
        <div>
          <h2>{% trans "Programs" %}</h2>
        </div>
        <div>
          {% include "products/_product_cards.html" with products=programs %}
        </div>
      </div>

      <div class="stack">
        <div>
          <h2>{% trans "Books" %}</h2>
        </div>
        <div>
          {% include "products/_product_cards.html" with products=books %}
        </div>
      </div>

      <div>
        <p>
          Want something else?
          <a href="https://docs.google.com/forms/d/e/1FAIpQLSfqlmSwj1UW3anIIgP0uBEv31W41AhGH-5FYeGVly90dwkMVw/viewform?usp=sf_link">Request it.</a>
        </p>
      </div>
    </div>
  </div>
{% endblock layout %}

{% block javascript %}
  <script>
    let products = [];
    {% for program in programs %}
      products.push({
        item_id: '{{ program.id }}',
        item_name: '{{ program.name }}',
        index: {{ forloop.counter }},
        item_list_name: 'Store',
        item_list_id: 'store',
        item_brand: '{{ program.author }}',
        item_category: 'programs',
        price: {{ program.price }},
        currency: 'USD',
      });
    {% endfor %}

    {% for book in books %}
      products.push({
        item_id: '{{ book.id }}',
        item_name: '{{ book.name }}',
        index: {{ forloop.counter }},
        item_list_name: 'Store',
        item_list_id: 'store',
        item_brand: '{{ book.author }}',
        item_category: 'books',
        price: {{ book.price }},
        currency: 'USD',
      });
    {% endfor %}
    gtag('event', 'view_item_list', {
      items: products,
      item_list_name: 'Store',
      item_list_id: 'store'
    });
  </script>
{% endblock javascript %}
