{% extends '_base_wide.html' %}

{% load i18n products_extras %}

{% block head_title %}{% trans "Programs" %}{% endblock head_title %}

{% block content %}

<h1>Programs</h1>

{% if user.is_superuser %}
<p>
  <a class="button" href="{% url 'admin:products_program_changelist' %}">Admin</a>
</p>
{% endif %}

{% if object_list %}
<ul class="grid max-width:measure*2">
  {% for program in object_list %}
  <li class="card-box card-stack">
    <div class="frame landscape">
      
      {% if program.featured_image %}
        <img src="{{ program.featured_image.url }}" alt="{{ program.name }}" />
      {% else %}
        <img style="background-color: var(--main-color-dark);">
      {% endif %}
    </div>
    <div class="box stack">
      <h3>
        <a href="{% url 'products:program_detail' program.slug %}">
          {{ program.name }}
        </a>
      </h3>
      <p>{{ program.description }}</p>
    </div>
    <div class="box space-between">
      <div class="small">
        
        {% with "products.can_view_"|concat:program.slug as can_view_program %}
          {% if can_view_program in perms %}
            <span class="tag">Owned</span>
          {% else %}
            <span class="tag price">${{ program.price|floatformat:"0" }}</span>
          {% endif %}
        {% endwith %}

      </div>
      <div class="small font-size:small">
        <span>By {{ program.author.name }}</span>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No programs!</p>
{% endif %}
{% endblock content %}
