{% extends '_base_wide.html' %}

{% load static i18n products_extras %}

{% block head_title %}{% trans program.name %}{% endblock head_title %}

{% block header %}
<meta name="description" property="og:description" content="{{ program.description }}">
<meta name="keywords" content="fitness, health, strength, endurance, running, training, biking">
<meta name="author" content="{{ program.author.name }}">
<meta property="og:title" content="{{ program.name }}" />
<meta property="og:image" content="{{ program.featured_image.url }}" />
<meta property="og:image:alt" content="{{ program.name }}" />
{% endblock header %}

{% block content %}

<div class="cluster">
  <!-- intermediary wrapper -->
  <p>
    <a class="box padding" href="{% url 'products:store' %}">
      < Back to Store
    </a>
    {% if user.is_superuser %}
    <a class="box padding:s-1" href="{% url 'admin:products_program_change' program.id %}">
      Admin
    </a>
    {% endif %}
  </p>
</div>

<div class="product-switcher">
  <div> <!-- intermediary wrapper -->
    <div>
      <div class="frame square">
      {% if program.featured_image %}
        <img src="{{ program.featured_image.url }}" alt="" />
      {% else %}
        <img style="background-color: var(--main-color-dark);">
      {% endif %}
      </div>
    </div>
    <div class="stack">
      <div>
        <h1>{{ program.name }}</h1>
        <div class="cluster">
          <div> <!-- intermediary wrapper -->
            <div class="money">${{ program.price|floatformat }}</div>
            <div class="tag duration">{{ program.duration }} weeks</div>
            <div class="tag frequency">{{ program.frequency }} days/wk</div>
            
            {% if program.status == "pr" %}
              <div class="tag private">PRIVATE</div>
            {% endif %}

            {% if program.status == "dr" %}
              <div class="tag draft">DRAFT</div>
            {% endif %}
              
          </div>
        </div>
      </div>

      <p>{{ program.description }}</p>

      <p>
        {% if user.is_authenticated %}
          {% with "products.can_view_"|concat:program.slug as can_view_program %}
            {% if can_view_program in perms %}
              <a class="button purchase box owned" href="{% url 'users:profile' %}">View in Account</a>
            {% else %}
              <button
                class="button box purchase"
                id="submitButton"
                data-product-type="program"
                data-product-slug="{{ program.slug }}">
                  Purchase!
              </button>
            {% endif %}
          {% endwith %}
        {% else %}
          <a
            class="button box purchase"
            href="{% url 'payments:login_to_purchase' product_type='program' product_slug=program.slug %}">
            Purchase!
          </a>
        {% endif %}
      </p>
    </div>
  </div>
</div>

<div class="stack center" style="margin-top: var(--s5);">
  {% autoescape off %} {{ content }} {% endautoescape %}
</div>

{% endblock content %}

<!-- JavaScript -->
{% block javascript %}
<script src="{% static 'js/payments.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock javascript %}
