{% extends '_base_wide.html' %}

{% block content %}

<h2>Programs</h2>

{% if user.is_superuser %}
<a href="{% url 'admin:products_program_changelist' %}">Admin</a>
{% endif %}

{% if object_list %}
<ul class="grid max-width:measure*2">
  {% for program in object_list %}
  <li class="card-box card-stack">
    <div class="frame">
      <img src="{{ program.featured_image.url }}" alt="{{ program.name }}" />
    </div>
    <div class="box">
      <h3>
        <a href="{% url 'products:program_detail' program.slug %}">
          {{ program.name }}
        </a>
      </h3>
      <p>{{ program.description }}</p>
      <p>{{ program.duration }} weeks</p>
      <p>{{ program.frequency }} workouts/week</p>
    </div>
    <div class="box">
      <small>By {{ program.author.name }}</small>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No programs!</p>
{% endif %}
{% endblock content %}
