{% extends '_base_wide.html' %}

{% load static i18n %}

{% block head_title %}{% trans program.name %}{% endblock head_title %}

{% block content %}

<div class="cluster">
  <!-- intermediary wrapper -->
  <p>
    <a class="box padding" href="{% url 'products:program_list' %}">
      < Back to Programs 
    </a>
    {% if user.is_superuser %}
    <a class="box padding:s-1" href="{% url 'admin:products_program_change' program.id %}">
      Admin
    </a>
    {% endif %}
  </p>
</div>

<div class="product-switcher">
  <div class="box"> <!-- intermediary wrapper -->
    <div>
      <div class="frame portrait">
      {% if program.featured_image %}
        <img src="{{ program.featured_image.url }}" alt="" />
      {% else %}
        <img style="background-color: var(--main-color-dark);">
      {% endif %}
      </div>
    </div>
    <div class="stack">
      <div>
        <h1>{{ program.name }}</h1>
        <div class="cluster">
          <div> <!-- intermediary wrapper -->
            <div class="money">${{ program.price|floatformat }}</div>
            <div class="tag duration">{{ program.duration }} weeks</div>
            <div class="tag frequency">{{ program.frequency }} days/wk</div>
          </div>
        </div>
      </div>


      <p>{{ program.description }}</p>

      <p>
        
        {% if user.is_authenticated %}
          <button
            class="box purchase"
            id="submitButton"
            data-program-slug="{{ program.slug }}">
              Purchase!
          </button>
        {% else %}
          {% comment %} <a class="button box purchase" href="{% url 'account_login' %}?next={{ request.path }}">Purchase!</a> {% endcomment %}
          <a
            class="button box purchase"
            href="{% url 'payments:login_to_purchase' product_slug=program.slug %}">
            Purchase!
          </a>
        {% endif %}
          
      </p>
    </div>
  </div>
</div>

<div class="stack center">
  {% autoescape off %} {{ content }} {% endautoescape %}
</div>

{% endblock content %}

<!-- JavaScript -->
{% block javascript %}
<script src="{% static 'js/payments.js' %}"></script>
<script src="https://js.stripe.com/v3/"></script>
{% endblock javascript %}
