services:
  db:
    image: postgres:17
    container_name: fitness_store_postgres
    volumes:
      - fitness_store_postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5434:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8
    container_name: fitness_store_redis
    ports:
      - "6334:6379"
    volumes:
      - fitness_store_redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  fitness_store_postgres_data:
  fitness_store_redis_data:
