Django>=5.1
Pillow
black
boto3
coverage
dj-database-url
django-allauth[socialaccount]
django-browser-reload
django-cors-headers
django-debug-toolbar
django-lifecycle
django-redis
django-clearcache
django-embed-video
django-markdownx
django-upgrade
django-ses[events]
django-storages[s3]
factory_boy
flake8-isort
gunicorn
ipython
ipdb
Markdown
pip-tools
psycopg2-binary
pylint-django
pytest
pytest-sugar
pytest-django
python-dotenv
sentry-sdk
scout-apm
stripe
uv
whitenoise[brotli]
