Django>=5.1
Pillow==10.3.0
black
boto3
coverage
dj-database-url
django-allauth[socialaccount]
django-browser-reload
django-cors-headers
django-debug-toolbar
django-lifecycle
django-redis
django-clearcache
django-embed-video
flake8-isort
django-markdownx
django-ses[bounce]
django-storages
factory_boy
gunicorn
ipython
ipdb
Markdown
pip-tools
psycopg2-binary
pylint-django
pytest
pytest-sugar
pytest-django
python-dotenv
sentry-sdk
scout-apm
stripe
uv
whitenoise[brotli]
