{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lance Fitness Store</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block header %}
    <!-- No extra header code included -->
    {% endblock header %}
</head>

<body>
    <div class="stack-page">
        <!-- THE NAVBAR -->
        <div class="navbar nav-cluster">
            <!-- intermediary wrapper -->
            <div>
                <div class="logo">
                    Lance Fitness Store
                </div>
                <div class="nav-menu menu-cluster">
                    <!-- intermediary wrapper -->
                    <nav>
                        <div>Menu one</div>
                        <div>Menu two</div>
                        <div>Menu three</div>
                    </nav>
                </div>
            </div>
        </div> <!-- .navbar -->

        <!-- THE CONTENT -->
        <div class="content">
            <div class="stack center">
                {% block content %}
                <!-- No content available -->
                {% endblock content %}
            </div>
        </div> <!-- .content -->

        <!-- THE FOOTER -->
        <div class="footer">
            <div class="center">
                <!-- JavaScript -->
                {% block javascript %}
                <!-- No JavaScript available -->
                {% endblock javascript %}

                <!-- Footer -->
                {% block footer %}
                Powered by <a href="https://lancegoyke.com/">Lance Goyke</a>
                {% endblock footer %}
            </div>
        </div> <!-- .footer -->
    </div>
</body>

</html>