{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block head_title %}{% endblock head_title %} | Mastering Fitness</title>
  <link rel="shortcut icon" href="{% static 'png/favicon-black.png' %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />

  <!-- Google Analytics | Global site tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-341TNQY35X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-341TNQY35X', {
      {% if request.user.id %}'user_id': '{{ request.user.id }}',{% endif %}
    });
  </script>
  
  {% block header %}
  <!-- No extra header code included -->
  {% endblock header %}
</head>

<body>

{% include '_nav.html' %}

<!-- THE CONTENT -->
<main class="content">
  <div class="stack center max-width:measure*2">
    {% if messages %}
      <div class="center messages">
        <ul>
          {% for message in messages %}
          <li class="box {% if message.tags %}{{ message.tags }}{% endif %}">{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% block content %}
    <!-- No content available -->
    {% endblock content %}
  </div>
</main>
<!-- .content -->

<div>
  {% include '_newsletter.html' %}
  
  {% include '_footer.html' %}
</div>

<!-- JavaScript -->
{% block javascript %}
<!-- No JavaScript available -->
{% endblock javascript %}

</body>

</html>