<!-- THE FOOTER -->
<div class="footer">
  <div class="center">
    <div class="cluster">
      <div><!-- intermediary wrapper -->
        <a href="{% url 'pages:single' slug="about" %}" style="font-weight:normal;">About</a> | 
        <a href="{% url 'pages:contact' %}" style="font-weight:normal;">Contact</a> | 
        <a href="{% url 'exercises:list' %}" style="font-weight:normal;">Exercises</a> |
        <a href="{% url 'pages:single' slug="privacy" %}" style="font-weight:normal;">Privacy Policy</a> | 
        <span>Powered by <a href="https://lancegoyke.com/">Lance Goyke</a></span>
      </div>
    </div>
  </div>
</div>
<!-- .footer -->