<!-- THE CTA -->
<div class="box newsletter">
  <div class="center stack">
    <h2 class="text-center">Free Fitness Advice</h2>
    <p>
      Sign yourself up for our exclusive newsletter and get bite-sized fitness tips delivered straight to your inbox.
    </p>

    <form class="sendfox-form" method="post" action="https://sendfox.com/form/1ylzgw/3l69xl" id="3l69xl" data-async="true" data-recaptcha="false">
      <label for="id_newsletter_email">
        Email
      </label>
      <div class="stack">
        <div class="form-with-sidebar">
          <div><!-- intermediary wrapper -->
            <input type="email" id="id_newsletter_email" placeholder="Email" name="email" required />
            <button type="submit">Submit</button>
          </div><!-- END intermediary wrapper -->
        </div>
        <p><label><input type="checkbox" name="gdpr" value="1" required /> I agree to receive email updates and promotions.</label></p>
      </div>
      <!-- no botz please -->
      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
    </form>
    <script src="https://sendfox.com/js/form.js"></script>
  </div>
</div>
<!-- END .newsletter-->