<!-- THE CTA -->
<div class="newsletter">
  <div class="box transparent">
    <div class="center stack">
      <h2 class="text-center">Product Updates</h2>
      <p>
        Sign up to get an email when we release or update a product. Short notifications. Cancel anytime.
      </p>
      <form class="sendfox-form" method="post" action="https://sendfox.com/form/1ylzgw/3l69xl" id="3l69xl" data-async="true" data-recaptcha="false">
        <label for="id_newsletter_email">
          Email
        </label>
        <div class="stack">
          <div class="form-with-sidebar">
            <div><!-- intermediary wrapper -->
              <input type="email" id="id_newsletter_email" placeholder="name@example.com" name="email" required />
              <button class="button" type="submit">Submit</button>
            </div><!-- END intermediary wrapper -->
          </div>
          <p><label style="font-weight: unset;"><input type="checkbox" name="gdpr" value="1" required /> I agree to receive email updates and promotions.</label></p>
        </div>
        <!-- no botz please -->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="a_password" tabindex="-1" value="" autocomplete="off" /></div>
      </form>
      <script src="https://sendfox.com/js/form.js"></script>
    </div>
  </div>
</div>
<!-- END .newsletter-->