{% load static %}
<div class="testimonials">
  <div class="box stack transparent max-width:measure*2">
    <h2 class="text-center">Testimonials</h2>
    <div class="three-switcher">
      <div> <!-- intermediary wrapper -->
        <div class="stack-all testimonial">
          <div class="testimonial-title"><h3>"I feel better in every possible way"</h3></div>
          <div class="testimonial-body">
          <p>
              I've been training with Lance for 8 months and during that time I've made huge improvements to my health, strength, cardio, flexibility, and overall quality of life.
          </p>
          <p>
              For the first time in 20 years (or more) I'm under 200 pounds, I can do a pull-up, I can run a 5k, and I feel good about how I look and feel. According to my bathroom scale <strong>I've lost over 30 pounds and more than 6% of my body fat.</strong> I feel better in every possible way.
          </p>
          </div>
          <div class="testimonial-footer">
            <img src="{% static 'jpg/jason-davidson-150x150.jpg' %}" height="50px" width="50px" alt="Jason Davidson headshot" />
            <div class="byline">
              <span class="name">Jason Davidson</span>
              <span class="job-title">Software Engineer</span>
            </div>
          </div>
        </div>
        <div class="stack-all testimonial">
          <div class="testimonial-title"><h3>"Extremely helpful"</h3></div>
          <div class="testimonial-body">
          <p>
              I had downloaded and watched your video multiple times now and would like to thank you very much for going into the level of detail you have provided. I had no idea that you would be able to learn so much about my body!
          </p>
          <p>
              Finally, I feel like I’m finally turning a corner on the root cause of <strong>my lifelong back pain.</strong> Thanks for being a part of that process, I feel like I owe you a beer.
          </p>
          <p>
              Thanks for allowing me be a part of the “Lance Experience”.
          </p>
          </div>
          <div class="testimonial-footer">
            <img src="{% static 'jpg/philip-rebisz-150x150.jpg' %}" height="50px" width="50px" alt="Philip Rebisz headshot" />
            <div class="byline">
              <span class="name">Philip Rebisz</span>
              <span class="job-title">Treasury Analyst</span>
            </div>
          </div>
        </div>
        <div class="stack-all testimonial">
          <div class="testimonial-title"><h3>"I can happily say I feel better than ever"</h3></div>
          <div class="testimonial-body">
          <p>
              Working with Lance over the past 2 years has been one of the most rewarding coaching partnerships I've ever been apart of.
          </p>
          <p>
              I carry around a lot of stress, as <strong>a busy parent and business owner</strong> I was ready to get back to a place where I could feel good again! Today I can happily say I feel better than ever and I owe that success to Lance.
          </p>
          <p>
              For everything I have learned, I can't say <em>THANK YOU</em> enough!
          </p>
          </div>
          <div class="testimonial-footer">
            <img src="{% static 'jpg/chris-rhoades-150x150.jpg' %}" height="50px" width="50px" alt="Christopher Rhoades headshot" />
            <div class="byline">
              <span class="name">Christopher Rhoades</span>
              <span class="job-title">Strength Coach</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- .testimonials -->
