<div class="stack-page">
  <!-- THE NAVBAR -->
  <div class="navbar nav-cluster">
    <!-- intermediary wrapper -->
    <div>
      <div class="logo">Lance Fitness Store</div>
      <div class="nav-menu menu-cluster">
        <!-- intermediary wrapper -->
        <nav>
          <div><a href="{% url 'pages:single' 'about' %}">About</a></div>
          <div>
            <a href="{% url 'products:program_list' %}">Programs</a>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- .navbar -->