{% extends '_base.html' %}
{% load static %}

{% block title %}
  {{ challenge.name}} | {% include "_site_title.html" %}
{% endblock title %}

{% block layout %}
  {% if messages %}
    <div class="center messages">
      <ul>
        {% for message in messages %}
          <li class="box {% if message.tags %}{{ message.tags }}{% endif %}">{{message}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <div class="functional-width">
    <div class="sidebar-main-layout">
      <!-- Left sidebar with submit score and filter forms -->
      <div>
        {% include "challenges/sidebar.html" %}
      </div>

      <!-- Main content area -->
      <div class="stack">
        <div>
          <a href="{% url 'challenge_filtered_list' %}">← view all</a>
        </div>

        <div>
          <h1>{{ challenge.name }}</h1>
          <span class="has-text-{{ challenge.difficulty_color }}" title="{{ challenge.get_difficulty_level_display }}">&#x25cf;</span>
        </div>

        <div class="box">
          <div class="stack">
            <div>
              {% for line in challenge.description.splitlines %}
                <p>{{ line|safe }}</p>
              {% endfor %}
            </div>

            <div class="cluster categories">
              <div>
                {% for tag in challenge.tags.all %}
                  <a class="tag" href="{% url 'challenge_tag_filtered_list' tag.slug %}">
                    {{ tag }}
                  </a>
                {% endfor %}
              </div>
            </div>

            {% if user.is_superuser %}
              <div>
                <a class="button invert" href="{% url 'admin:challenges_challenge_change' challenge.id %}">Admin</a>
              </div>
            {% endif %}
          </div>
        </div>

        {% if top_score %}
          <div class="stack">
            <div>
              <h2>Your Performance</h2>
            </div>
            <div class="two-switcher">
              <div>
                <div class="box {% if user_pr %}success{% else %}error{% endif %}">
                  <div class="stack">
                    <h4>Your PR</h4>
                    <p class="font-size:big font-monospace">
                      {% if user_pr %}
                        {{ user_pr }}
                      {% else %}
                        -
                      {% endif %}
                    </p>
                  </div>
                </div>

                <div class="box info">
                  <div class="stack">
                    <h4>Top Score</h4>
                    <p class="font-size:big font-monospace">
                      {{ top_score }}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <div class="box">
          <div class="stack">
            <h3>All Submitted Scores</h3>
            {% if top_score %}
              <div>
                <table>
                  <thead>
                    <tr>
                      <th>Time</th>
                      <th>User</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for record in filter.qs %}
                      <tr {% if user == record.user %}style="background-color: var(--success);"{% endif %}>
                        <td>{{ record.time_score }}</td>
                        <td>{{ record.user }}</td>
                        <td>{{ record.date_recorded|date:"SHORT_DATE_FORMAT" }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <div>
                <p><em>No scores available.</em></p>
                <p>If you hurry, you might be the first to set a record for this one!</p>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock layout %}
