{% load crispy_forms_tags %}

<div class="stack">
  <div class="box success">
    <div class="stack">
      <h3>Submit a Score</h3>
      <div class="stack-form">
        <form action="" method="POST">
          {% csrf_token %}
          {{ record_create_form|crispy }}
          <button class="button" type="submit">Add Score</button>
        </form>
      </div>
    </div>
  </div>

  {% if top_score %}
    <div class="box">
      <div class="stack">
        <h3>Sort and Filter Scores</h3>
        <div class="stack-form">
          <form action="" method="get">
            {{ filter.form|crispy }}
            <div class="cluster">
              <div>
                <input class="button" type="submit" value="Submit" />
                <a class="button outline" href="{{ challenge.get_absolute_url }}">Clear</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  {% endif %}
</div>
