Django==4.1.7
psycopg2-binary
Pillow
django-markdownx
Markdown
stripe
django-lifecycle
django-allauth
factory_boy
django-cors-headers
whitenoise[brotli]
dj-database-url
boto3
django-storages
scout-apm
django-redis
django-clearcache
django-embed-video
flake8-isort
black
pylint-django
pip-tools
pytest
pytest-sugar
coverage
django-debug-toolbar
pytest-django
gunicorn
django-ses[bounce]
django-admin-honeypot
sentry-sdk
ipython
ipdb
pywatchman
django-browser-reload
