{% extends '_base.html' %}

{% load static i18n embed_video_tags %}

{% block head_title %}{% trans test.name %}{% endblock head_title %}

{% block header %}
<meta name="description" property="og:description" content="{{ test.description }}">
<meta name="keywords" content="fitness, health, strength, endurance, running, training, biking">
<meta name="author" content="{{ test.author }}">
<meta property="og:title" content="{{ test.name }}" />
{% endblock header %}

{% block content %}

<h1>{{ test.name }}</h1>

<p>{{ test.description }}</p>


{% if test.video %}
<div class="video">
  {% video test.video '100% x 100%' %}
</div>
{% endif %}

<table id="results">
  <thead>
    <tr>
      <th id="date" scope="col">Date</th>
      <th id="user" scope="col">User</th>
      <th id="result" scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    
    {% for result in test_results %}
      <tr>
        <td>{{ result.created|date:"Y M d" }}</td>
        <td>{{ result.user.name }}</td>
        <td>{{ result.value }} {{ result.unit }}</td>
      </tr>
    {% endfor %}
      
  </tbody>
</table>

{% endblock content %}

<!-- JavaScript -->
{% block javascript %}
{% endblock javascript %}
