.hidden {
  display: none;
}

.content {
  padding-left: 0;
  padding-right: 0;
}

.content.preparing {
  background-color: #3498db;
}

.content.working {
  background-color: #2ecc71;
}

.content.resting {
  background-color: #e74c3c;
}

.content.finished {
  background: linear-gradient(
    150deg,
    rgba(193, 0, 0, 0.8),
    rgba(191, 127, 63, 0.8),
    rgba(191, 191, 63, 0.8),
    rgba(127, 191, 63, 0.8),
    rgba(63, 127, 191, 0.6),
    rgba(63, 63, 191, 0.6),
    rgba(127, 63, 191, 0.6),
    rgba(191, 63, 191, 0.6)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.content.idle {
  background-color: var(--main-color-light-gray);
}

#timer-display {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: var(--s1);
  margin-top: var(--s1);
  margin-bottom: var(--s1);
}

#timer-display > * {
  font-size: 5rem;
  font-weight: 700;
}

#timer-form {
  margin-left: auto;
  margin-right: auto;
}

#status.work {
  background-color: #2ecc71;
}

#status.rest {
  background-color: #e74c3c;
}

.bar-container {
  position: relative;
  width: 100%;
  height: 100px;
  border: var(--border-thin) solid var(--main-color-dark-gray);
}

#progress-overlay,
#progress-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#progress-overlay {
  z-index: 2;
}

#progress-container {
  z-index: 1;
}

#progress-overlay .progress-bar {
  height: 100%;
}

.progress {
  display: flex;
  height: 30px;
  width: 100%;
}

.progress-bar {
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-bar-success {
  background-color: #2ecc71;
}

.progress-bar-danger {
  background-color: #e74c3c;
}

.progress-bar-elapsed {
  pointer-events: none;
  background-color: #3498db;
}

.progress-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

progress.work {
  accent-color: #2ecc71;
}

progress.rest {
  accent-color: #e74c3c;
}

.field {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.field > * {
  flex: 1;
}

.field > label {
  text-align: right;
}

.buttons {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.buttons * {
  flex: 1;
}

.button.reset {
  background-color: var(--main-color-light-gray);
}

.w-full {
  width: 100%;
}
