{% extends '_base.html' %}

{% load i18n products_extras %}

{% block head_title %}{% trans "User Profile" %}{% endblock head_title %}

{% block content %}

<h1>Account</h1>

<p>
  Email: {{ user.email }}
</p>

<p>
  <a href="{% url 'account_change_password' %}">Change Password</a> |
  <a href="{% url 'account_email' %}">Email Management</a> |
  <a href="{% url 'socialaccount_connections' %}">Social Accounts</a>
</p>

<h2>Programs</h2>

<ul>
  {% for program in programs %}
  <li>
    {{ program }}

    {% with "products.can_view_"|concat:program.slug as can_view_program %}
      {% if can_view_program in perms %}
        {% if program.program_file %}
          <a href="{{ program.program_file.url }}">
            {% trans "[Download]" %}
          </a>
        {% endif %}
      {% endif %}
    {% endwith %}
  </li>
  {% empty %}
  <li>Sorry, no programs are ready yet!</li>
  {% endfor %}
</ul>


<h2>Books</h2>

<ul>
  {% for book in books %}
  <li>
    {{ book }}

    {% with "products.can_view_"|concat:book.slug as can_view_book %}
      {% if can_view_book in perms %}

        {% if book.pdf %}
          <a href="{{ book.pdf.url }}">
            {% trans "[PDF]" %}
          </a>
        {% endif %}
        {% if book.epub %}
          <a href="{{ book.epub.url }}">
            {% trans "[EPUB]" %}
          </a>
        {% endif %}
        {% if book.mobi %}
          <a href="{{ book.mobi.url }}">
            {% trans "[MOBI]" %}
          </a>
        {% endif %}
      {% endif %}
    {% endwith %}
  </li>
  {% empty %}
  <li>Sorry, no books are ready yet!</li>
  {% endfor %}
</ul>

{% endblock content %}
