{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Mastering Fitness</title>
  <link rel="shortcut icon" href="{% static 'png/favicon-black.png' %}">

  <!-- CSS -->
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />

  <!-- Google Analytics | Global site tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-341TNQY35X"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-341TNQY35X', {
      {% if request.user.id %}'user_id': '{{ request.user.id }}',{% endif %}
    });
  </script>

  {% block header %}
  <!-- No extra header code included -->
  {% endblock header %}
</head>

<body>
  <!-- THE COVER -->
  <div class="cover">
    <!-- THE NAVBAR -->
    <div class="box invert navbar nav-cluster">
      <!-- intermediary wrapper -->
      <div>
        <a class="logo" href="{% url 'pages:home' %}">Mastering Fitness</a>
        <div class="nav-menu menu-cluster">
          <!-- intermediary wrapper -->
          <nav>
            <a href="{% url 'pages:single' 'about' %}">About</a>
            <a href="{% url 'products:program_list' %}">Programs</a>
            <a href="{% url 'pages:contact' %}">Contact</a>
            
            {% if user.is_authenticated %}
              <a href="{% url 'users:profile' %}">Account</a>
              <a href="{% url 'account_logout' %}">Logout</a>
            {% else %}
              <a href="{% url 'account_login' %}">Login</a>
              <a href="{% url 'account_signup' %}">Signup</a>
            {% endif %}
              
          </nav>
        </div>
      </div>
    </div>
    <!-- END .navbar -->

    <h1 class="center text-center">Become a fitness master.</h1>
    
    <div class="center box inherit-colors text-center">
      <span class="with-icon">
        <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/>
        </svg>
        {% trans "Scroll down" %}
        <svg class="icon icon-right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" width="18px" height="18px">
          <path d="M0 0h24v24H0V0z" fill="none"/>
          <path d="M20 12l-1.41-1.41L13 16.17V4h-2v12.17l-5.58-5.59L4 12l8 8 8-8z"/>
        </svg>
      </span>
    </div>
  </div>
  <!-- .cover -->

  <!-- THE CONTENT -->
  <main class="stack content">
    {% if messages %}
      <div class="center messages">
        <ul>
          {% for message in messages %}
          <li class="box {% if message.tags %}{{ message.tags }}{% endif %}">{{message}}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% block content %}
    <div class="stack center max-width:measure*2">
      <div>
        <h2 class="text-center">Hey, I'm Lance!</h2>
      </div>
  
      <div class="two-switcher">
        <div> <!-- intermediary wrapper -->
          <div class="stack">
            <!-- non-sidebar -->
            <p>
              I've been a personal trainer for over a decade now and I'm here to help you <em>master your fitness.</em>
            </p>
            <p>
              "Mastering", of course, is a bit of a misnomer. If you get in the best shape of your life, then stop exercising... you'll no longer be in the best shape of your life.
            </p>
            <p>
              Fitness, you see, is fleeting. It takes diligent, persistent work. It takes <em>practice.</em>
            </p>
          </div>
          <div>
            <div class="portrait frame">
              <!-- sidebar -->
              <img class="edgy" src="{% static 'jpg/Lance-Goyke-headshot.jpeg' %}" alt="Lance Goyke headshot" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- .content -->

  {% include '_newsletter.html' %}

  {% include '_footer.html' %}
  
  {% endblock content %}


  <!-- JavaScript -->
  {% block javascript %}
  <!-- No JavaScript available -->
  {% endblock javascript %}

</body>

</html>
