{% extends '_base.html' %}

{% load i18n %}

{% block head_title %}{% trans exercise.name %}{% endblock head_title %}

{% block content %}
  <h1>{% trans exercise.name %}</h1>

  <h2>{% trans "Video Links" %}</h2>
  {% if user.is_superuser %}
    <p>
      <a class="button" href="{% url 'admin:exercises_exercise_change' exercise.id %}">
        Edit in Admin
      </a>
    </p>
  {% endif %}
  {% if exercise.demonstration %}
    <div class="video">
      <iframe
        src="https://www.youtube.com/embed/{{ yt_demo_id }}?autoplay=1&loop=1&modestbranding=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  {% endif %}
  {% if exercise.explanation %}
    <div class="video">
      <iframe
        src="https://www.youtube.com/embed/{{ yt_explan_id }}?&modestbranding=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  {% endif %}

  {% if alternatives %}
    <h2>Alternatives</h2>
    <table class="alternatives">
      <thead>
        <tr>
          <th>Reason</th>
          <th>Alternative</th>
        </tr>
      </thead>

      <tbody>
        {% for alternate in alternatives %}
          <tr>
            <td>{{ alternate.problem }}</td>
            <td><a href="{% url 'exercises:detail' slug=alternate.alternate.slug %}">{{ alternate.alternate }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  <p><a href="{% url 'exercises:list' %}"><- Back to exercises</a></p>

{% endblock content %}
