{% extends '_base.html' %}

{% load i18n static %}

{% block head_title %}{% trans "Exercises" %}{% endblock head_title %}


{% block content %}
<h1>Exercises</h1>

<div class="cluster categories">
  <div> <!-- intermediary wrapper -->
    {% for category in categories %}
      <div><a class="tag filter-btn" href="{% url 'exercises:filtered_list' category.slug %}">{{ category.name }}</a></div>
    {% endfor %}
  </div>
</div>

<p>Use <span style="padding: 2px 4px; background-color: lightgray;">Ctrl + F</span> to search for an exercise name.</p>

<ul>
  {% for exercise in exercises %}
  <li>
    <div class="inline-tag">
      <a href="{% url 'exercises:detail' slug=exercise.slug %}">{% trans exercise.name %}</a>
      
      {% if exercise.demonstration and user.is_staff %}
        <button
          class="clear copy-btn tag"
          id="copy-{{ exercise.slug }}" 
          data-clipboard-text="{{ exercise.demonstration }}">
            copy demo
        </button>
      {% endif %}
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.copy-btn');

  clipboard.on('success', function(e) {
    console.log(e);
  });
</script>
{% endblock javascript %}