{% extends '_base.html' %}

{% load i18n static %}

{% block head_title %}{% if category %}{% trans category %} {% endif %}{% trans "Exercises" %}{% endblock head_title %}

{% block content %}
<h1>{% if category %}{% trans category %} {% endif %}Exercises</h1>

{% if user.is_superuser %}
  <p>
    <a class="button" href="{% url 'admin:exercises_exercise_changelist' %}">
      Edit in Admin
    </a>
  </p>
{% endif %}

<div class="cluster categories">
  <div> <!-- intermediary wrapper -->
    {% for category in categories %}
      <div><a class="tag filter-btn" href="{% url 'exercises:filtered_list' category.slug %}">{{ category.name }}</a></div>
    {% endfor %}
  </div>
</div>

<div class="stack">
  <span class="htmx-indicator">Searching...</span>
  <input
    type="text"
    name="search"
    hx-post="/exercises/search/"
    hx-trigger="keyup changed delay:250ms"
    hx-indicator=".htmx-indicator"
    hx-target="#exercises"
    hx-include="#category"
    placeholder="Search"
  >
  <input 
    id="category"
    type="hidden"
    name="category"
    value="{{ category }}"
  >
</div>

<ul id="exercises">
  {% include "exercises/exercises.html" %}
</ul>
{% endblock content %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.6/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.copy-btn');

  clipboard.on('success', function(e) {
    console.log(e);
  });
</script>

<script 
  src="https://unpkg.com/htmx.org@1.5.0" 
  integrity="sha384-oGA+prIp5Vchu6we2YkI51UtVzN9Jpx2Z7PnR1I78PnZlN8LkrCT4lqqqmDkyrvI" 
  crossorigin="anonymous">
</script>

<script>
  document.body.addEventListener('htmx:configRequest', (event) => {
    event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
  })
</script>

{% endblock javascript %}