{% extends "account/base_auth_card.html" %}

{% load i18n %}
{% load static account socialaccount %}
{% get_providers as socialaccount_providers %}

{% block head_title %}{% trans "Login" %}{% endblock head_title %}

{% block header %}
  <meta name="google-signin-client_id" content="739106151618-nvu2uigcvc2rmc5n0esia8doc42ialfo.apps.googleusercontent.com">
{% endblock header %}

{% block auth_title %}{% trans "Login to your account" %}{% endblock auth_title %}

{% block auth_description %}
  <p class="auth-card__description text-center">
    {% trans "Enter your email below to login to your account." %}
    <a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a>
  </p>
{% endblock auth_description %}

{% block auth_body %}
  <form class="stack" id="email-form" method="POST" action="{% url 'account_login' %}">
    {% csrf_token %}

    <div class="messages">
      {{ form.non_field_errors }}
    </div>

    <div class="stack">
      <label for="{{ form.login.id_for_label }}">{% trans "Email" %}</label>
      {{ form.login }}
      {{ form.login.errors }}
    </div>

    <div class="stack">
      <div class="auth-card__field-header">
        <label for="{{ form.password.id_for_label }}">{% trans "Password" %}</label>
        <a class="secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      </div>
      {{ form.password }}
      {{ form.password.errors }}
    </div>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="primaryAction button block" type="submit">{% trans "Sign In" %}</button>
  </form>
{% endblock auth_body %}

{% block auth_footer %}
  <div class="or-separator">
    <div></div>
    <i>{% trans "or" %}</i>
    <div></div>
  </div>

  <a class="button outline block" id="google" href="{% provider_login_url "google" next=redirect_field_value %}">
    {% trans "Sign in with Google" %}
  </a>
  <a class="button outline block" id="facebook" href="{% provider_login_url "facebook" method="js_sdk" next=redirect_field_value %}">
    {% trans "Login with Facebook" %}
  </a>
{% endblock auth_footer %}

{% block javascript %}
  {% providers_media_js %}
{% endblock javascript %}
