{% extends "account/base_auth_card.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block auth_title %}{% trans "Reset your password" %}{% endblock auth_title %}

{% block auth_description %}
  <p class="auth-card__description text-center">
    {% trans "Enter your email below and we'll send you a link to reset your password." %}
  </p>
{% endblock auth_description %}

{% block auth_body %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <form class="stack" method="POST" action="{% url 'account_reset_password' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="messages">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="stack">
      <label for="{{ form.email.id_for_label }}">{% trans "Email" %}</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <button class="button block" type="submit">{% trans "Reset Password" %}</button>
  </form>
{% endblock auth_body %}

{% block auth_footer %}
  <p class="auth-card__description text-center">
    {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}
  </p>
{% endblock auth_footer %}
