{% extends "account/base_auth_card.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block auth_title %}{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}{% endblock auth_title %}

{% block auth_body %}
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p class="auth-card__description text-center">
      {% blocktrans %}The password reset link was invalid, possibly because it has already been used. Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
    </p>
  {% else %}
    {% if form %}
      <form class="stack" method="POST" action="{{ action_url }}">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="messages">
            {{ form.non_field_errors }}
          </div>
        {% endif %}

        <div class="stack">
          <label for="{{ form.password1.id_for_label }}">{% trans "New password" %}</label>
          {{ form.password1 }}
          {{ form.password1.errors }}
        </div>

        <div class="stack">
          <label for="{{ form.password2.id_for_label }}">{% trans "New password (again)" %}</label>
          {{ form.password2 }}
          {{ form.password2.errors }}
        </div>

        <button class="button block" type="submit">{% trans "Change Password" %}</button>
      </form>
    {% else %}
      <p class="auth-card__description text-center">{% trans "Your password is now changed." %}</p>
    {% endif %}
  {% endif %}
{% endblock auth_body %}
