{% extends "_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <h1>{% trans "Change Password" %}</h1>

  <div class="stack-auth-form">
    <form class="login center" method="POST" action="{% url 'account_change_password' %}" class="password_change">
      {% csrf_token %}
      <div class="messages">
        {{ form.non_field_errors }}
      </div>

      <p>
        <label class="stack" for="id_email">
          <span>Email</span>
          <input id="id_email" type="text" name="email" value="{{ request.user.email }}" disabled>
        </label>
      </p>

      <p>
        <label class="stack" for="{{ form.oldpassword.id_for_label }}">
          <span>Current Password</span>
          {{ form.oldpassword }}
          {{ form.oldpassword.errors }}
        </label>
      </p>

      <p>
        <label class="stack" for="{{ form.password1.id_for_label }}">
          <span>New Password</span>
          {{ form.password1 }}
          {{ form.password1.errors }}
        </label>
      </p>

      <p>
        <label class="stack" for="{{ form.password2.id_for_label }}">
          <span>New Password (again)</span>
          {{ form.password2 }}
          {{ form.password2.errors }}
        </label>
      </p>

      <button class="button" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
  </div>
{% endblock %}
