{% extends "account/base_auth_card.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block auth_title %}{% trans "Set your password" %}{% endblock auth_title %}

{% block auth_description %}
  <p class="auth-card__description text-center">
    {% trans "Choose a password for your account." %}
  </p>
{% endblock auth_description %}

{% block auth_body %}
  <form class="stack" method="POST" action="{% url 'account_set_password' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="messages">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="stack">
      <label for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>

    <div class="stack">
      <label for="{{ form.password2.id_for_label }}">{% trans "Password (again)" %}</label>
      {{ form.password2 }}
      {{ form.password2.errors }}
    </div>

    <button class="button block" type="submit" name="action">{% trans "Set Password" %}</button>
  </form>
{% endblock auth_body %}
