{% extends "_base.html" %}

{% load i18n %}
{% load static %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<a class="box login facebook" id="facebook" href="{% provider_login_url "facebook" method="js_sdk" %}">Continue with Facebook</a>
<a class="box login google" id="google" href="{% provider_login_url "google" %}">Sign up with Google</a>
<button class="box login email" id="email" onclick="showForm()">Sign up with Email</button>

<form class="login" id="email-form" method="POST" action="{% url 'account_login' %}" style="display: none;">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign Up" %}</button>
</form>

{% endblock content %}

{% block javascript %}
{% providers_media_js %}
<script src="{% static 'js/showForm.js' %}"></script>
{% endblock javascript %}