{% extends "account/base_auth_card.html" %}

{% load i18n %}
{% load static account socialaccount %}
{% get_providers as socialaccount_providers %}

{% block head_title %}{% trans "Sign Up" %}{% endblock head_title %}

{% block auth_title %}{% trans "Create your account" %}{% endblock auth_title %}

{% block auth_description %}
  <p class="auth-card__description text-center">
    {% trans "Enter your email below to create your account." %}
    <a href="{% url 'account_login' %}">{% trans "Sign in" %}</a>
  </p>
{% endblock auth_description %}

{% block auth_body %}
  <form class="stack" id="email-form" method="POST" action="{% url 'account_signup' %}">
    {% csrf_token %}

    {% if form.non_field_errors %}
      <div class="messages">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    <div class="stack">
      <label for="{{ form.email.id_for_label }}">{% trans "Email" %}</label>
      {{ form.email }}
      {{ form.email.errors }}
    </div>

    <div class="stack">
      <label for="{{ form.password1.id_for_label }}">{% trans "Password" %}</label>
      {{ form.password1 }}
      {{ form.password1.errors }}
    </div>

    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}

    <button class="primaryAction button block" type="submit">{% trans "Sign Up" %}</button>
  </form>
{% endblock auth_body %}

{% block auth_footer %}
  <div class="or-separator">
    <div></div>
    <i>{% trans "or" %}</i>
    <div></div>
  </div>

  <a class="button outline block" id="google" href="{% provider_login_url "google" next=redirect_field_value %}">
    {% trans "Sign up with Google" %}
  </a>
  <a class="button outline block" id="facebook" href="{% provider_login_url "facebook" method="js_sdk" next=redirect_field_value %}">
    {% trans "Continue with Facebook" %}
  </a>
{% endblock auth_footer %}

{% block javascript %}
  {% providers_media_js %}
{% endblock javascript %}
