:root {
  --measure: 60ch;
  font-family: sans-serif;
  line-height: 1.5;

  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

* {
  max-width: var(--measure);
  box-sizing: border-box;
  margin: 0;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

h1 {
  font-size: var(--s3);
}

h2 {
  font-size: var(--s2);
}

h3 {
  font-size: var(--s1);
}

h4 {
  font-size: var(--s0);
}

h5 {
  font-size: var(--s-1);
}

h6 {
  font-size: var(--s-2);
}

h2,
h3,
h4,
h5,
h6 {
  margin-top: var(--s1);
  margin-bottom: var(--s-3);
}

p {
  margin-bottom: var(--s0);
}

/* 
    THE STACK
*/
.stack-page {
  --space: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-page > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-page > * + * {
  margin-top: var(--space);
}

.stack-page:only-child {
  height: 100%;
}

.stack-page > :nth-child(1) {
  margin-bottom: auto;
}

/*
    THE CENTER
*/
.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--measure);
}

/*
    THE BOX
*/
.box {
  padding: var(--s1);
  border: var(--border-thin) solid;
  --color-light: #fff;
  --color-dark: #000;
  color: var(--color-dark);
  background-color: var(--color-light);
}

.box * {
  color: inherit;
}

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}

/*
    THE SIDEBAR
*/
.with-sidebar {
  overflow: hidden;
}

.with-sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--s1) / 2 * -1);
}

.with-sidebar > * > * {
  margin: calc(var(--s1) / 2);
  flex-grow: 1;
}

.with-sidebar > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(50% - var(--s1));
}

/*
    THE CLUSTER
*/
.nav-cluster {
  --space: var(--s2);
  overflow: hidden;
}

.nav-cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: calc(var(--space) / 2);
}

.nav-cluster > * > * {
  margin: calc(var(--space) / 2);
}

.menu-cluster {
  --space: var(--s0);
  overflow: hidden;
}

.menu-cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: calc(var(--space) / 2);
}

.menu-cluster > * > * {
  margin: calc(var(--space) / 2);
}

/*
    UTILITY CLASSES
*/
.max-width\:measure {
  max-width: var(--measure);
}

.max-width\:measure\/2 {
  max-width: calc(var(--measure) / 2);
}

/*
    CUSTOMIZING ELEMENTS
*/

.navbar {
  background: lightcoral;
}

.nav-menu ul {
  list-style-type: none;
  /* margin: 0; */
}

.logo {
  font-family: serif;
  font-weight: 700;
  letter-spacing: 0.2ch;
}

.content {
  background: lightgoldenrodyellow;
  padding-top: var(--s1);
  padding-bottom: var(--s1);
}

.footer {
  color: wheat;
  background: darkorchid;
  padding-top: var(--s1);
  padding-bottom: var(--s1);
}

.footer a {
  color: whitesmoke;
}
