{% extends "account/base_auth_card.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block auth_title %}
  {% if process == "connect" %}
    {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
  {% else %}
    {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
  {% endif %}
{% endblock auth_title %}

{% block auth_description %}
  <p class="auth-card__description text-center">
    {% if process == "connect" %}
      {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
    {% else %}
      {% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}
    {% endif %}
  </p>
{% endblock auth_description %}

{% block auth_body %}
  <form method="post">
    {% csrf_token %}
    <button class="primaryAction button block" type="submit">{% trans "Continue" %}</button>
  </form>
{% endblock auth_body %}
