{% extends "account/base_auth_card.html" %}

{% load i18n %}

{% block head_title %}{% trans "Login Cancelled" %}{% endblock head_title %}

{% block auth_title %}{% trans "Login Cancelled" %}{% endblock auth_title %}

{% block auth_body %}
  {% url 'account_login' as login_url %}

  <p class="auth-card__description text-center">{% blocktrans %}Logging in to our site using one of your existing social accounts has been cancelled. If this was a mistake, please proceed to <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
{% endblock auth_body %}
