{% extends "account/base_auth_card.html" %}

{% load i18n %}
{% load allauth %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block auth_title %}{% trans "Sign Up" %}{% endblock auth_title %}

{% block auth_description %}
  <p class="auth-card__description text-center">
    {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{ provider_name }} account to login to {{ site_name }}. As a final step, please complete the following form:{% endblocktrans %}
  </p>
{% endblock auth_description %}

{% block auth_body %}
  {% url 'socialaccount_signup' as action_url %}
  <form class="stack" method="post" action="{{ action_url }}">
    {% csrf_token %}
    {% element fields form=form unlabeled=True %}
    {% endelement %}
    {{ redirect_field }}
    <button class="primaryAction button block" type="submit">{% trans "Sign Up" %}</button>
  </form>
{% endblock auth_body %}
